body {
	background-color: #282828;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.main {
	margin:0 auto;
	width:80%;
	background-color:white;
	padding:25px;
}

.header {
	margin:0 auto;
	width:80%;
	background-color:#282828;
	color:white;
	padding:25px;
}

.headerButton {
	background:none;
	color:white;
	border:none;
	padding:0;
	cursor:pointer;
}

.headerButton:hover {
	color:#b80000;
}

.footer {
	margin:0 auto;
	width:80%;
	background-color:#282828;
	color:white;
	padding:25px;
}

.copyright {
	text-align:center;
}

.logo {
	float:left;
}

.logoImage {
	width:50%;
}

.logoButton {
	background:none;
	color:inherit;
	border:none;
	padding:0;
	cursor:pointer;
	text-align:left;
}

.welcomeImage {
	width:100%;
	height:100%;
	object-fit:contain;
}

.homeCategoryButton {
	background:none;
	color:inherit;
	border:none;
	padding:0;
	cursor:pointer;
	width:150px;
	height:150px;
}

.homeCategoryImage {
	width:150px;
	height:150px;
}

tr.homeCategoryTableImageRow td {
	padding:15px;
	text-align:center;
}

tr.homeCategoryTableLabelRow td {
	text-align:center;
}

.searchTable {
	width:100%;
}

.searchBar {
	width:100%;
}

.booksResultsButton {
	background:none;
	color:inherit;
	border:none;
	padding:0;
	cursor:pointer;
}

.booksResultsImage {
	width:175px;
	height:275px;
}

.booksResultTable {
	border-collapse: collapse;
	width:100%;
}

.booksResultsInfoCell {
	width:90%;
	padding-left:20px;
}

tr.booksResultRow td {
	border-bottom: 2px solid black;
	vertical-align: top;
	padding-top: 30px;
	padding-bottom: 30px;
}